@media only screen and (max-width: 992px){
.main-bg{background:none;padding-bottom:80px;}
.banner{min-height:504px;}
.banner-big-txt{font-size:24px;}
.bnr-dropdown{
    line-height: 28px;    padding: 7px 60px 9px 15px;
}
.right-block{padding-left:0;}
.drop-arrow{margin-top:-12px;}
.mob-nav{position:fixed;bottom:0;width:100%;border-top:1px solid #e5e5e5;left: 0;
    right: 0;
    background: #fff;}
    .mob-menu{flex-direction: row;}
    .mob-menu li{flex-grow: 1}
    .mob-menu li > a {
        color: #8893a5;font-size:12px;font-weight:700;padding:8px 18px;display:block}
        .mob-menu li > a span{display:block}
        .mob-menu li > a.active{color:#000;}
        .mob-menu li > a .active-icon{display:none;}
        .mob-menu li > a.active .active-icon{display:inline-block;}
        .mob-menu li > a.active .main-icon{display:none;}
        .search-block{display:flex;}
        .search-input{font-size:14px;padding:10px}
        .bnr-search-btn{font-size:18px;  padding: 12px 17px;}
        .trending-txt{margin-bottom:30px;width:100%;float:left;}
        .trending-txt a{color:#fff;}
        .explore-txt{width:100%;float:left;}
        .explore-txt label{display:block;  }
        .filter-block2{display:none;}
        .filter-details{position:relative}
        .mob-filter{    position: absolute; right: 0px; top: -23px;}
        .rider-img-block {max-width:90px;}
       
        .slick-slide {
            margin: 0px 10px 0px 0px !important;
        }
        .top-riders-slider .user-pic{top: -33px}
        .user-name{padding-right:0;}
        .top-riders-block .card-body{padding:10px 15px 15px 15px}
        .slick-arrow{display:none !important;}
        .followers-block{margin-top:0px;}
        .follow-users{margin-left:-16px; margin-right:0;}
        .follow-users img{border:3px solid #ffffff;border-radius:50%;}
        .events-details .slick-slide img{width:100%;}
        .page-heading small strong{display:block;}
        .banner-inner-content {
            
            background-image: linear-gradient(360deg, #000000 40%, transparent 100%);
            border-radius:0 0 10px 10px;display: flex;
            flex-direction: column;
        }
        .banner-inner-content .banner-inner-heading{margin-top:auto;}
        .mob-header .navbar-brand{display:none;}
       
        .mob-header~.banner .cust-search-bar{display:none;}
        .mob-header~.banner .bnr-select{margin-left: 0;
            padding-left: 0;
            left: 15px;
            border-left: none;}
        .notify-icon{
            -webkit-filter: brightness(0) invert(1);
             filter: brightness(0) invert(1);
          
       }
        .mob-header .notify-icon{
            -webkit-filter: brightness(1) invert(0);
             filter: brightness(1) invert(0);
          
       }
       .mob-header .mob-search-btn{display:inline-block;margin-left:auto}
       .login-block {padding:16px 16px 70px 16px;}
         
}