:focus {
  outline: 0 !important;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
}
a {
  transition: 0.8s;
}
a {
  color: #c23e3e;
}
a:hover {
  text-decoration: none;
  color: #c23e3e;
}
a:focus,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}
.cust-nav {
  position: absolute;
  width: 100%;
  z-index: 9;
}
.main-bg {
  padding-top: 40px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+60,f1f4f9+60 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ffffff 63%,
    #f1f4f9 63%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ffffff 63%,
    #f1f4f9 63%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff 63%,
    #f1f4f9 63%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f4f9',GradientType=1 ); /* IE6-9 */
}
.fixed-top {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: fixed;
}
.fixed-top .cust-links li > a{
  color: #000000;opacity: 0.4;
}
.fixed-top .cust-links li > a:hover, .fixed-top .cust-links li > a.active{
  color: #c23e3e;opacity: 1;
}
.dark-logo, .location-lbl{display:none;}
.fixed-top .light-logo{display:none;}
.fixed-top .dark-logo{display:inline;}
.fixed-top~.banner .bnr-select{position:fixed;top: 0; z-index: 10;margin:12px 0 0 25px;    border-left: 1px solid #eee;
  padding-left: 25px;}
.fixed-top~.banner .bnr-select .location-lbl{
  display: block;
    opacity: 0.5;
    font-family: Lato;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000000;
    margin: 0;
    padding: 0;
  }
.fixed-top~.banner .bnr-select .bnr-dropdown{   
   background: none;
  padding: 0 16px 0 0;
  opacity: 0.7;   
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  color: #000000;
  display: block;
  position: relative;
}
.fixed-top~.banner .bnr-select .bnr-dropdown .drop-arrow{
  margin-top: -8px;right:0;
}
 
.fixed-top~.banner .search-block{
  position: fixed;
  top: 10px;
  z-index: 10;
  width: 300px;
  padding: 0;
  display: flex;
  left: 31%;
  border-radius: 3px;
  border: solid 1px #dde3ec;
}
.fixed-top~.banner .search-block .search-input{
  border-radius: 3px ;
  border: solid 1px #dde3ec;
  border-right:0px;
  background-color: #f8fbff;
  padding:10px;
  font-size: 14px;
  font-weight: normal;
  color: #898ea2;
}
.fixed-top~.banner .search-block .bnr-search-btn{
  padding: 5px 10px;
  border-radius: 0px 3px 3px 0px;

   
}
.cust-links li > a {
  color: #9d9ca1;
  padding: 0.5rem 1rem !important;
}
.cust-links li > a:hover,
.cust-links li > a.active {
  color: #fff;
  text-decoration: none;
}
.cust-links li:last-child a {
  padding-right: 0 !important;
}
.banner {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  height: 70vh;
  position: relative;
  padding-top: 120px;
  min-height:550px;
}
.banner-sml-txt {
  color: #9d9998;
  font-size: 18px;
}
.banner-big-txt {
  color: #fff;
  font-size: 40px;
  max-width: 720px;
  font-weight: 700;
  line-height: 1.38;
}
.bnr-dropdown {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: none;
  padding: 10px 60px 12px 15px;
  margin: 0;
  color: #fff;
  line-height: 44px;
  position: relative;
}
.drop-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -20px;
}
.search-block {
  position: relative;
  padding: 30px 0px;
  float: left;
  width: 100%;
}
.search-input {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  padding: 20px;
  border: none;
  background: #fff;
  border-radius: 5px 0 0 5px;
  max-width: 544px;
  width: 100%;

  
  float: left;
}
.trending-txt {
  clear: both;
  margin-bottom: 20px;
}
.trending-txt label {
  color: #9d9998;
  margin: 0;
  padding: 0;
  float: left;
}
.trending-txt a {
  color: #dad7d0;
  float: left;
}
.explore-txt label {
  margin: 0;
  padding: 0;
  color: #9d9998;
}
.explore-txt a {
  color: #fff;
  font-weight: bold;
}

.search-input:focus {
  border: none;
  outline: none;
}
.bnr-search-btn {
  background: #c23d3e;
  color: #fff;
  padding: 17px;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  float: left;
}
.bnr-search-btn:hover {
  text-decoration: none;
  color: #fff;
}
.left-seperater {
  padding-left: 20px;
  position: relative;
}
.left-seperater:before {
  position: absolute;
  left: 10px;
  content: '';
  width: 2px;
  height: 12px;
  background: #ebebeb;
  margin-top: -6px;
  top: 50%;
}
.page-heading {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: 700;

  color: #000000;
  margin: 0;
  padding: 0;
}
.page-heading small {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #999999;
  display: block;
}
.page-heading small strong {
  color: #000;
}
.filter-details span {
  color: #aaaaaa;
  font-size: 14px;
}
.filter-details span a {
  font-weight: 700;
}

.rides-block {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 15px;
  display: flex;
}
.location-heading-block {
  display: flex;
  width: 100%;
}
.location-title {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;

  color: #000000;
}
.bookmark a {
  display: inline-block;
  background: #f2f5fa;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  color: #7c7c7e;
  padding: 5px 0;
  text-decoration: none;
  margin-top: 4px;
}
.location-block {
  margin-top: 4px;
}
.location-block span {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #999999;
}
.time span {
  color: #000;
}
.location-details {
  padding:22px 0;

  justify-content: space-between;
  flex-flow: row wrap;
}
.location-details > span {
  font-size: 14px;
  padding-left: 25px;
  position: relative;
  line-height: 14px;
  padding-right: 8%;
  font-weight: 700;
}
.location-details span:last-child {
  padding-right: 0;
}
.other-details {
  color: #3b4db2;
}
.rating {
  color: #e2881a;
}
.location-details span i {
  position: absolute;
  left: 0;
  top: 0px;
}
.location-details span small {
  display: block;
  font-size: 10px;
  color: #7d7d7d;
}
.username {
  line-height: 12px;
}
.username span {
  font-size: 12px;
  line-height: 14px;
  margin-right: 10px;
}
.username .badge {
  color: #e2881a;
  background: transparent;
  border: solid 1px #e5e5e5;
  border-radius: 2px;
  font-weight: normal;
  font-size: 10px;
  padding: 2px;
  display: inline-block;
  line-height: 10px;
}

.page-sub-heading {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}
.page-sub-heading small {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.71;
  color: #999999;
  display: block;
}
.img-content {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 5px 10px;
}
.no-rides {
  color: #fff;
  font-size: 20px;
}
.ride-loc {
  color: #fff;
  font-size: 12px;
}
.ride-state {
  color: #fff;
  font-size: 12px;
  opacity: 0.6;
}

.user-pic {
  border-radius: 50%;
  position: absolute;
  right: 18px;
  top: -15px;
}
.user-name {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  font-family: 'Lato', sans-serif;
  padding-right: 65px;
}
.user-name small {
  font-size: 10px;
  font-weight: normal;
  display: block;
  color: #c23e3e;
}
.follow-btn {
  border-radius: 3px;
  border: solid 1px #d2e2f0;
  background-color: #ebf6ff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.42px;
  color: #1e81ce;
  padding: 7px 17px;
}
.join-btn {
  border-radius: 3px;
  border: solid 1px #ffdbdb;
  background-color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.42px;
  color: #c23e3e;
  padding: 7px 17px;
}
.city-filter a {
  font-weight: 700;
  font-size: 14px;
}
.full-banner-content {
  position: relative;
  margin: 45px 0;
}
.full-banner-content img {
  border-radius: 10px;
}
.banner-inner-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  padding: 30px;
  background-image: linear-gradient(90deg, #000000 40%, transparent 100%);
  border-radius: 10px 0 0 10px;
}
.banner-inner-content h4 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 10px 0;
}
.banner-inner-content .banner-inner-heading {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 3px;
  color: #c23e3e;
}
.banner-inner-content .banner-tagline {
  opacity: 0.7;
  font-size: 14px;
  color: #ffffff;
}
.white-btn {
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000000;
  padding: 10px 24px;
  border: none;
}

.event-name {
  font-size: 20px;
  font-weight: 600;

  color: #ffffff;
}
.calender-block {
  width: 64px;
  height: 89px;
  border-radius: 3px;
  background-color: #f1f4f9;
}
.calender-head {
  border-radius: 3px 3px 0 0;
  background-color: #a45540;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  display: block;
}
.calender-body {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #000000;
  width: 100%;
  display: block;
}
.calender-body small {
  font-family: 'Lato', sans-serif;
  font-size: 8px;
  font-weight: 700;

  letter-spacing: 0.5px;
  text-align: center;
  color: #666666;
  display: block;
}
.right-block {
  padding-left: 30px;
}
.post-btn {
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #c23e3e;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  padding: 16px;
  text-transform: uppercase;
  line-height: 16px;
}
.post-btn small {
  opacity: 0.5;

  font-size: 12px;
  font-weight: normal;
  display: block;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.notify-heading {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  letter-spacing: 0.58px;
  color: #000000;
}
.notify-title {
  font-size: 14px;
  font-weight: bold;

  line-height: 1.21;
  letter-spacing: normal;
  color: #515356;
}
.notify-txt {
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0 0 0;
  padding: 0;
  line-height: 1.33;
  letter-spacing: normal;
  color: #666666;
}
.cust-notify li {
  padding-right: 87px;
  position: relative;
}
.right-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -12px;
}
.right-arrow i {
  font-size: 16px;
  font-weight: bold;
}
.badge-status {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #515356;
}
.badge-txt {
  font-size: 10px;

  letter-spacing: 0.17px;
  text-align: center;
  color: #515356;
  margin: 0;
  padding: 0;
}
.sponser-ads {
  border-radius: 3px;
  height: 413px;
  background-color: #e4eaf3;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
  color: #98a4b8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blockquote-block{
    border-left:1px solid #e7e7e7;
    padding:2px 0 2px 10px;
    margin:22px 0 0 0;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: normal;
  color: #646464;
}
.followers-block{margin-top:22px;}
.follow-users{margin-right:4px;}
.joined-grp{
    
  font-size: 12px;
  font-weight: 700;
  margin-left:4px;
  line-height: normal;
   
  color: #666666;
}
.joined-grp small{
  display:block;
  font-size: 10px;
  font-weight: normal; 
  line-height: normal;
  color: #999999;
}
 
.mob-search-btn{display:none;}

/* login modal */
.login-close{position:absolute;right:20px;top:20px; color: #fff; opacity: 1;font-weight: 300;z-index:9;    line-height: 15px;font-size: 28px;}
.login-banner-txt{
  position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0, 0, 0, 0.5);color:#fff;display: flex;
  align-items: center;
  justify-content: center;
}
.login-txt{ 
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #ffffff;padding:0 35px;}
  .outline-btn{
    border-radius: 5px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #000000;
  padding:10px 20px;
  min-width:132px;
  text-transform: uppercase;
  }
  .login-block{
    padding:40px 50px;
  }
  .login-heading small{
    display:block;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
  }
  .login-change-txt{
    font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  margin:20px 0 15px 0;
  }
  .login-input input{
    border-radius: 5px;
  border: solid 1px #e5e5e5;
  background-color: #f8fbff;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  height:52px;
  }
  .login-input .btn-danger{
    height: 52px;
  border-radius: 5px;
  background-color: #c23e3e;
  color:#fff;text-align:center;text-transform: uppercase;
  }
  .login-bottom-txt a{
    color:#c23e3e;
    font-weight:700;
    margin-left:5px;
  }
  .login-bottom-txt{font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #464855;}
